<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>Pomme de terre</li>
  <li [ngStyle]="{backgroundColor: isThisIngredientVital ? 'red' : 'yellow'}">
    Raclette
  </li>
  <li>Jambon</li>
  <li [ngClass]="{'vital': isThisIngredientVital}">Cornichons</li>
  <li>Chou-fleur</li>
</ul>
<hr />
<ul *appDisplayGuests="displayGuestList">
  <li>Brenda</li>
  <li>Dylan</li>
  <li>Jean-mi</li>
  <li>Kylie</li>
</ul>
<hr />
<ul *ngFor="let song of songList" class="song-list">
  <li [ngClass]="{'active-admin-list': isAdmin}">{{ song }}</li>
  <div>
    <button>View</button>
    <button *ngIf="isAdmin">Edit</button>
  </div>
</ul>
<hr>
<h1 appHighlight>Raclette</h1>
<hr>
<div *appDisplayMovies="showMovies" class="movie-list">
  <div appHighlightMovie *ngFor="let movie of movieList" class="movie-container">
    <img src="{{movie.picture}}" alt="{{movie.title}}">
    <h2>{{ movie.title }}</h2>
  </div>
</div>

<router-outlet></router-outlet>